<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryu.mappers.login">

<!-- 
create table login(
lno int not null primary key AUTO_INCREMENT,
lid char(30) not null,
lpw char(30) not null,
lname char(10) not null,
lemail char(50) not null,
lsex char(5) not null,
ltel char(25) not null,
lhome char(50) not null); -->

<!--비밀번호 있는지  https://melonpeach.tistory.com/45 -->
<!-- select count(*)
    -> from login
    -> where lpw=SHA1(#{lpw}); -->


<select id="list" resultType="com.ryu.vo.LoginVO">
select 
lno,lid,lname,lemail,ltel,lhome
from 
login
</select>

<select id="join" resultType="com.ryu.vo.LoginVO">
 insert into login(lid,lpw,lname,lemail,ltel,lhome)
 values(#{lid},SHA1(#{lpw}),#{lname},#{lemail},#{ltel},#{lhome})
</select>

<select id="info" parameterType="int" resultType="com.ryu.vo.LoginVO">
 select 
  lno,lid,lname,lemail,ltel,lhome
 from 
  login
 where
  lno = #{lno}   
</select>

<select id="update" resultType="com.ryu.vo.LoginVO">
update login
set
  lname=#{lname},
  lemail=#{lemail},
  ltel=#{ltel},
  lpw=SHA1(#{lpw}),
  lhome=#{lhome}
where lno=#{lno}
</select>


<select id="delete" parameterType="int">
  delete
  from login
 where lno = #{lno}
</select>

<select id="login" resultType="int" parameterType="com.ryu.vo.LoginVO">
select count(case when lid=#{lid} and lpw=SHA1(${lpw}) then 1 end) from login;
</select>



</mapper>